body{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #665A48;
    height: 100%;
    background-image: url("IMG_0572.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 130%;
    color: rgb(59, 16, 16);
}
hr{
    margin: 20px;
    border: dashed rgba(62, 25, 25, 0.911);
}

.card{
    background-color: #cad8c37b;
    padding: 2em 3em;
    border-radius: 20px;
    max-width: 600px;
    min-width: 380px;
    width: 100%;
    margin: 3em;
    height: 90%;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
button{
    margin: 0.5em;
    outline: none;
    border-radius: 50%;
    border: none;
    height: 37px;
    width: 37px; 
    background-color: #ffffff97;
    cursor: pointer;
}
button:hover{
    background-color: #3b383885;
}
.search-bar{
   padding: 11px 40px;
   border: none;
   outline: none;
   border-radius: 18px;
   background: #ffffff97;
   width: 170px;
   font-size: 90%;
}

.flex_property2{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    float: right;
    margin: 10px;
    font-size: 85%;
}
.flex_property1{
 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    float: left;
    margin: 10px;
    font-size: 85%;
}
.icon{
    display: flex;
    float: right;
    width: 180px;
    height: 180px;
}




