body{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #665A48;
    height: 90vh;
    background-image: url("");
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 110%;
    color: rgb(87, 16, 16);
}
hr{
    margin: 20px;
    border: dashed rgba(62, 25, 25, 0.911);
}

.card{
    background-color: #c8dbbeb5;
    padding: 5em;
    border-radius: 20px;
    max-width: 800px;
    width: 100%;
    margin: 5em;
    height: 90%;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
button{
    margin: 0.5em;
    outline: none;
    border-radius: 50%;
    border: none;
    height: 37px;
    width: 37px; 
    background-color: #ffffff97;
    cursor: pointer;
}
button:hover{
    background-color: #3b383885;
}
input.search-bar{
   padding: 11px 40px;
   border: none;
   outline: none;
   border-radius: 18px;
   background: #ffffff97;
   width: 170px;
   font-size: 90%;
}

.flex_property2{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    float: right;
    margin: 10px;
    font-size: 85%;
}
.flex_property1{
 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    float: left;
    margin: 10px;
    font-size: 85%;
}




